.register-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: -2rem auto;
}

.form_container {
  width: 25rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 25px 50px;
  background-color: #ffffff;
  box-shadow: 3px 3px 42px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  border: 1px solid silver;

}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
}

.sign-up_btn {
  width: 100%;
  height: 40px;
  background: #f3f3f3;
  border-radius: 7px;
  outline: none;
  color: #333;
  border: 1px solid silver;
  cursor: pointer;
  font-size: 1rem;
}

.sign-up_btn:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.07);
  transition: all 0.4s ease-in-out;
  color: rgb(70, 159, 188) !important;
  border: 1px solid rgb(113, 204, 234) !important;
  
}


/*!--------- input group ---------  */

.inputGroup {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputGroup input {
  padding: 0.6rem;
  outline: none;
  border: 1px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 7px;
  width: 100%;
}

.inputGroup label {
  position: absolute;
  left: 0;
  top: -.2rem;
  padding: 0.8rem;
  font-size: 0.8rem;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #fff;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(70, 159, 188) !important;

}

@media (max-width: 768px) {
  .form_container {
    width: 499px;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 3px 3px 42px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: 1px solid silver;
  }
}
